<div class="container">
    <app-navbar title="Denuncias"></app-navbar>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Denuncias recibidas</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th width="20%">Código</th>
                                    <th width="35%">Descripción</th>
                                    <th width="20%">Fecha de emisión</th>
                                    <th width="35%">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let complaint of complaints | async">
                                    <td>{{complaint.id}}</td>
                                    <td *ngIf="complaint.description">{{complaint.description.length > 100 ? complaint.description.substring(0,100) : complaint.description}}</td>
                                    <td *ngIf="!complaint.description">No definido</td>
                                    <td>{{complaint.timestamp ? complaint.timestamp.toLocaleString() : 'No definido'}}</td>
                                    <td>
                                        <button class="btn btn-info btn-simple" (click)="showMaps(complaint.geopoint._lat,complaint.geopoint._long)">
                                            <i class="fa fa-map-marker"></i>
                                        </button>
                                        <button class="btn btn-info btn-simple" (click)="goToDetail(complaint.id)">
                                            <i class="fa fa-info"></i>
                                        </button>
                                        <button class="btn btn-info btn-simple" (click)="answer(complaint.id)">
                                            <i class="fa fa-handshake-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>