<div class="container">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
   <div class="row">
     <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
       <div class="card">
         <div class="card-header" style="background: linear-gradient(60deg, #9e1f4a, #ff0042)!important; padding: 20px;">
            <h4 style="margin: initial !important;">Login</h4>
           <div class="social-btns">
             <!-- <button mat-icon-button (click)="loginFacebook()"><i class="fa fa-facebook-square"></i></button> -->
             <!-- <button mat-icon-button><i class="fa fa-twitter"></i></button> -->
             <button mat-icon-button (click)="loginGoogle()" style="margin: 8px;"><i class="fa fa-google-plus"></i></button>
           </div>
         </div>
         <p class="tip">O ingrese por el registro clasico</p>
         <div class="card-form">
           <!-- <div class="form-row">
             <i class="material-icons">face</i>
             <mat-input-container color="accent">
               <input type="text" matInput placeholder="First Name"/>
             </mat-input-container>
           </div> -->
           <form [formGroup]="form">
              <div class="form-row">
                <i class="material-icons">email</i>
                <mat-input-container color="accent">
                  <input type="text" formControlName="email" matInput placeholder="Correo"/>
                </mat-input-container>
              </div>
              <div class="form-row">
                <i class="material-icons">lock_outline</i>
                <mat-input-container color="accent">
                  <input type="password" formControlName="password" matInput placeholder="Contraseña"/>
                </mat-input-container>
              </div>
              
              <div style="color: red" [hidden]="form.valid">La contraseña debe tener minimo 6 digitos</div>
          </form>
         </div>
         <div class="card-footer">
           <button mat-button (click)="loginPassword()">¡INGRESAR!</button>
         </div>
       </div>
     </div>
   </div>
  </div>
</div>
