.profile-content {
    padding-top: 0!important;
}

.main .section:first-of-type, .profile-content {
    position: relative;
    z-index: 2;
}

.section {
    padding: 70px 0;
    position: relative;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.owner {
    text-align: center;
}

.owner .avatar {
    padding: 15px;
    max-width: 180px;
    margin: -85px auto 0;
    display: inline-block;
}

.img-no-padding {
    padding: 0;
}


.page-header {
    background-color: #b2afab;
    background-position: 50%;
    background-size: cover;
    min-height: 80vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center;
    margin:0px;
  }
  
  .page-header .filter:after {
    background-color: rgba(0,0,0,.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .card-header{
    padding:20px;
  }

  .card-content{
    padding:20px;
  }

  .span-campo{
    font-weight: bold;
    font-size: 16px;
    margin:20px 0x 20px 5px;
  }

  .span-data{
    font-size: 16px;
  }

  .div-campo{
    margin: 5px 0px 0px 0px;
  }