<div class="row">
    <div class="page-header page-header-xs" style="background:url('./../../../assets/img/bk.jpg')  no-repeat fixed center;min-height:40vh !important;background-size:cover;">
        <div class="filter"></div>
    </div>
</div>
<div class="section profile-content" *ngIf="complaint | async as complaint">
    <div class="container">
        <div class="owner">
            <div class="avatar" (click)="volverInicio()" style="cursos:pointer;">
                <img src="./../../../assets/img/logo.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span style="text-align:justify">{{complaint.description}}</span>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li *ngFor="let img of complaint.imgs; let i = index;" data-target="#myCarousel" [attr.data-slide-to]="i" class="{{i==0?'active':''}}"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div *ngFor="let img of complaint.imgs; let i = index;" class="item {{i==0?'active':''}}">
                            <img [src]="img">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="figure-card card">
                    <div class="card-content">
                        <div class="div-campo">
                            <span class="span-campo">Nombre:</span>
                            <span class="span-data">{{complaint.d_animal_name == null ? 'No definido' : complaint.d_animal_name}}</span>
                            <hr>
                        </div>
                        <div class="div-campo">
                            <span class="span-campo">Tipo:</span>
                            <span class="span-data">{{complaint.d_animal_type == null ? 'No definido' : complaint.d_animal_type}}</span>
                            <hr>
                        </div>
                        <div class="div-campo">
                            <span class="span-campo">Cantidad:</span>
                            <span class="span-data">{{complaint.d_animal_quanty == null || complaint.d_animal_price == 0 ? 'No definido' : complaint.d_animal_quanty}}</span>
                            <hr>
                        </div>
                        <div class="div-campo">
                            <span class="span-campo">Tamaño:</span>
                            <span class="span-data">{{complaint.d_animal_size == null ? 'No definido' : complaint.d_animal_size}}</span>
                            <hr>
                        </div>
                        <div class="div-campo">
                            <span class="span-campo">Precio:</span>
                            <span class="span-data">{{complaint.d_animal_price == null || complaint.d_animal_price == 0 ? 'No definido' : complaint.d_animal_price}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="figure-card card">
                    <div class="card-content">
                        <div class="div-campo">
                            <span class="span-campo">Color:</span>
                            <span class="span-data">{{complaint.d_animal_color == null ? 'No definido' : complaint.d_animal_color}}</span>
                            <hr>
                        </div>
                        <div class="div-campo">
                            <span class="span-campo">Confinamiento:</span>
                            <span class="span-data">{{complaint.d_animal_confinement == null ? 'No definido' : complaint.d_animal_confinement}}</span>
                            <hr>
                        </div>
                        <div class="div-campo">
                            <span class="span-campo">Estado:</span>
                            <span class="span-data">{{complaint.d_animal_status == null ? 'No definido' : complaint.d_animal_status}}</span>
                            <hr>
                        </div>
                        <div class="div-campo">
                            <span class="span-campo">Tipo de tráfico:</span>
                            <span class="span-data">{{complaint.d_animal_type_traffic == null ? 'No definido' : complaint.d_animal_type_traffic}}</span>
                            <hr>
                        </div>
                        <div class="div-campo">
                            <span class="span-campo">Traficante:</span>
                            <span class="span-data">{{complaint.d_trafficker_name == null ? 'No definido' : complaint.d_trafficker_name}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="figure-card card">
                    <div class="card-header">
                        <h4>Comentarios</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div *ngFor="let comment of comments | async">
                                    <span style="color:rgb(0, 0, 0)">{{comment.alias}} |
                                        <span style="font-size:12px;color:#333333" *ngIf="comment.timestamp != null && comment.timestamp != undefined">{{comment.timestamp.toLocaleString() }}</span>
                                    </span>
                                    <br>
                                    <span style="font-size:14px;">{{comment.comment}}</span>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-control" placeholder="Nombre completo..." [(ngModel)]="comment.alias">
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-12">
                                <textarea rows="3" class="form-control" placeholder="Ingrese un comentario..." [(ngModel)]="comment.comment"></textarea>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-12">
                                <button class="btn btn-success" (click)="sendComment()">Comentar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>