<header>
  <div style="text-align: center; color: white; display: block; width: 100%;">
    <h2 style="font-weight: bold;">Traffic break</h2>
  </div>
  <!-- <div class="right">
    <a routerLink="/dashboard" routerLinkActive="router-active"><i class="material-icons">dashboard</i><p>DASHBOARD</p></a>
    <a routerLink="" routerLinkActive="router-active" [routerLinkActiveOptions]="{exact: true}"><i class="material-icons">fingerprint</i><p>LOGIN</p></a>
    <a routerLink="/register" routerLinkActive="router-active"><i class="material-icons">person_add</i><p>REGISTER</p></a>
    <a routerLink="/lock" style="margin-right: 0" routerLinkActive="router-active"><i class="material-icons">lock_open</i><p>LOCK</p></a>
  </div> -->
</header>
