<agm-map style="height:100vh;" [latitude]='-12' [longitude]="-77" [zoom]="11">  <!--(mapClick)="modalPapu(complaint)"-->
  <div *ngFor="let complaint of complaints | async" >
      <agm-marker [latitude]="complaint.geopoint._lat" [longitude]="complaint.geopoint._long" *ngIf="complaint.geopoint" (markerClick)="modalPapu(complaint)" ></agm-marker>
  </div>  
</agm-map>