<div class="modal-header">
    <h5 class="modal-title text-center">Responder denuncia</h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-3 col-form-label">Respuesta: </label>
                <div class="col-9">
                    <textarea class="form-control" type="text" placeholder="Ingrese una respuesta a la denuncia..." [(ngModel)]="respuesta"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="left-side" style="float:left;">
        <button type="button" class="btn btn-default btn-link" (click)="responder()">RESPONDER</button>
    </div>
    <div class="right-side" style="float:right;">
        <button type="button" class="btn btn-danger btn-link" (click)="close()">CANCELAR</button>
    </div>
</div>