<div class="container">
    <app-navbar title="User Profile"></app-navbar>
    <div class="row" style="margin-top: 30px" *ngIf="complaint | async as complaint">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <i class="material-icons">perm_identity</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title">Datos de la denuncia
                    </h4>
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-input-container color="accent">
                                    <input matInput placeholder="Nombre" disabled value="{{complaint.d_animal_name == null ? 'No definido' : complaint.d_animal_name}}">
                                </mat-input-container>
                            </div>
                            <div class="col-md-4">
                                <mat-input-container color="accent">
                                    <input matInput placeholder="Tipo" value="{{complaint.d_animal_type == null ? 'No definido' : complaint.d_animal_type}}"
                                        disabled>
                                </mat-input-container>
                            </div>
                            <div class="col-md-4">
                                <mat-input-container color="accent">
                                    <input matInput placeholder="Cantidad" value="{{complaint.d_animal_quanty == null ? 'No definido' : complaint.d_animal_quanty}}"
                                        disabled>
                                </mat-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-input-container color="accent">
                                    <input matInput placeholder="Tamaño" disabled value="{{complaint.d_animal_size == null ? 'No definido' : complaint.d_animal_size}}">
                                </mat-input-container>
                            </div>
                            <div class="col-md-4">
                                <mat-input-container color="accent">
                                    <input matInput placeholder="Precio" value="{{complaint.d_animal_price == null || complaint.d_animal_price == 0 ? 'No definido' : complaint.d_animal_price}}"
                                        disabled>
                                </mat-input-container>
                            </div>
                            <div class="col-md-4">
                                <mat-input-container color="accent">
                                    <input matInput placeholder="Color" value="{{complaint.d_animal_color == null ? 'No definido' : complaint.d_animal_color}}"
                                        disabled>
                                </mat-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-input-container color="accent">
                                    <input matInput placeholder="Confinamiento" disabled value="{{complaint.d_animal_confinement == null ? 'No definido' : complaint.d_animal_confinement}}">
                                </mat-input-container>
                            </div>
                            <div class="col-md-4">
                                <mat-input-container color="accent">
                                    <input matInput placeholder="Estado" value="{{complaint.d_animal_status == null ? 'No definido' : complaint.d_animal_status}}"
                                        disabled>
                                </mat-input-container>
                            </div>
                            <div class="col-md-4">
                                <mat-input-container color="accent">
                                    <input matInput placeholder="Tipo de tráfico" value="{{complaint.d_animal_type_traffic == null ? 'No definido' : complaint.d_animal_type_traffic}}"
                                        disabled>
                                </mat-input-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-input-container color="accent">
                                    <input matInput placeholder="Traficante" disabled value="{{complaint.d_trafficker_name == null ? 'No definido' : complaint.d_trafficker_name}}">
                                </mat-input-container>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card right-profile">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li *ngFor="let img of complaint.imgs; let i = index;" data-target="#myCarousel" [attr.data-slide-to]="i" class="{{i==0?'active':''}}"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div *ngFor="let img of complaint.imgs; let i = index;" class="item {{i==0?'active':''}}">
                            <img [src]="img">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <p style="text-align:justify">{{complaint.description}}</p>
                <hr>
                <h6 *ngIf="complaint.answers">Respuesta emitida el: {{complaint.answers.timestamp.toLocaleString()}}</h6>
                <h5 *ngIf="complaint.answers">Descripción de respuesta: {{complaint.answers.description}}</h5>
                <button *ngIf="complaint.answers" mat-raised-button class="btn btn-rose btn-round" (click)="answer()">MODIFICAR RESPUESTA</button>
                <button *ngIf="!complaint.answers" mat-raised-button class="btn btn-rose btn-round" (click)="answer()">RESPONDER DENUNCIA</button>
            </div>
        </div>
    </div>
</div>