<div class="row">
    <div class="page-header page-header-xs" style="background:url('./../../../assets/img/bk.jpg') no-repeat fixed center;min-height:40vh !important;background-size:cover;">
        <div class="filter"></div>
    </div>
</div>
<div class="section profile-content">
    <div class="container">
        <div class="owner">
            <div class="avatar">
                <img src="./../../../assets/img/logo.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="nav-bar">
                <div class="left-part">
                   
                </div>
                <div class="right-part">
                    <div class="right-part" id="nav-right">
                        <mat-input-container color="#ff0000">
                            <input matInput type="search" placeholder="Search">
                        </mat-input-container>
                        <button mat-mini-fab class="search-btn">
                            <i class="material-icons" style="font-size:18px;">search</i>
                        </button>
                        <button mat-icon-button *ngIf="!currentUser">
                            <i class="material-icons icon-btn" (click)="goToLogin()">person</i>
                        </button>
                    </div>
                    <div id="menu">
                        <button mat-icon-button (click)="menuClick()">
                            <i class="material-icons">menu</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3" *ngFor="let complaint of complaints | async">
                    <div class="image-card card">
                        <div class="header">
                            <img (click)="mandaDetalle(complaint.id)" [src]="complaint.imgs == 0 ? 'https://firebasestorage.googleapis.com/v0/b/amazonia-ab647.appspot.com/o/uploads%2Fsin-imagen3.jpg?alt=media&token=ea0fd7c2-676f-4705-bd45-8e701a0ebe0f' : complaint.imgs[0]"
                            />
                        </div>
                        <div class="body">
                            <p *ngIf="complaint.description && complaint.description.length > 155">{{complaint.description.substring(0,155)}}...</p>
                            <p *ngIf="complaint.description && complaint.description.length <= 155">{{complaint.description}}</p>
                        </div>
                        <div class="footer">
                            <h4 *ngIf="complaint.timestamp">{{complaint.timestamp.toLocaleDateString()}}</h4>
                            <div class="position" (click)="mostrarUbicacion(complaint.geopoint._lat,complaint.geopoint._long, complaint.title)">
                                <i class="material-icons">location_on</i>Ver ubicación
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>