.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left-part, .right-part{
    display: flex;
    align-items: center;
  }
  
  .nav-bar h4{
    color: #555;
  }
  
  .mat-mini-fab{
    box-shadow:  0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
    background-color: #fefefe;
    color: #999;
    margin-right: 15px;
  }
  
  .mat-mini-fab:hover{
    color: #999 !important;
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2) !important;
  }
  
  .mat-mini-fab:focus{
    color: #999 !important;
  }
  
  .search-btn{
    margin: 0 5px 0 7px;
  }
  
  .icon-btn{
    font-size: 19px;
    color: #555;
  }
  
  .mat-icon-button{
    margin-left: 7px;
  }
  
  .image-card{
    position: relative;
    width: 100%;
    margin: 25px 0;
    padding: 15px;
  }
  
  .header{
    position: relative;
    overflow: hidden;
    margin-top: -40px;
    border-radius: 6px;
    z-index: 3;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  
  .header img{
    position: relative;
    max-width: 100%;
    border-radius: 6px;
  }
  
  .position:hover{
      color:blue !important;
  }

  .position{
      cursor: pointer;
  }
  
  .body{
    text-align: justify;
    padding: 10px 10px 13px 10px;
    margin-top: 7px;
  }
  
  .body p{
    margin-top: 5px;
    color: #999;
    font-weight: 100;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  
  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 2px 8px;
  }
  
  .footer .position{
    display: flex;
    align-items: center;
    color: #999;
    font-weight: 100;
  }
  
  .footer i{
    font-size: 17px;
    margin-right: 3px;
  }
  
  .footer h4{
    color: rgba(0,0,0, 0.87);
  }
  
  .profile-content {
    padding-top: 0!important;
}

.main .section:first-of-type, .profile-content {
    position: relative;
    z-index: 2;
}

.section {
    padding: 70px 0;
    position: relative;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.owner {
    text-align: center;
}

.owner .avatar {
    padding: 15px;
    max-width: 180px;
    margin: -85px auto 0;
    display: inline-block;
}

.img-no-padding {
    padding: 0;
}

.page-header {
  background-color: #b2afab;
  background-position: 50%;
  background-size: cover;
  min-height: 80vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin:0px;
}

.page-header .filter:after {
  background-color: rgba(0,0,0,.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}